/* src/App.css */
body {
  font-family: "Open Sans", sans-serif; /* Изменено на Open Sans */
  margin: 0; /* Убираем отступы по умолчанию */
  background-color: #ebc2af; /* Молочный цвет */
}

.App {
  text-align: center;
  min-height: 100vh; /* Минимальная высота для App */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh; /* Минимальная высота для заголовка */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2B2024; /* Цвет текста */
}

.App-link {
  color: #673D3F; /* Цвет ссылки */
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

footer {
  background-color: transparent; /* Убираем фон для футера */
  color: #2B2024; /* Цвет текста футера */
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #673D3F; /* Цвет границы */
  background: #EFE3DF; /* Молочный цвет фона */
}

button {
  padding: 10px;
  background-color: #673D3F; /* Цвет кнопки */
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #B05459; /* Цвет при наведении */
}
